
.header{
    width: 100%;
    height: 40px;
}

.header_logo{
    font-size: 44px;
    font-weight: 900;
    letter-spacing: -5px;
    position: fixed;
    left: 20px;
    top: 15px;
}

.right_nav{
    width: 140px;
    height: 200px;
    position: fixed;
    right: 25px;
    top: 20px;
}

.ham{
    width: 38px;
    height: 38px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 50%;
    border: 2px solid #000;
    line-height: 17px;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s linear;
}

.ham:hover{
    border: 2px solid #444;
    color: #444;
}

.menu{
    text-align: right !important;
    position: absolute;
    list-style-type: none;
    right: -150px;
    transition: all 0.35s linear;
}

.menu a{
    width: auto;
    display: block;
    float: right;
    clear: both;
    white-space: nowrap;
    padding: 10px 12px;
    margin-bottom: 5px;
    background: #000;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

.menu a:hover{
    color: #DC5C32;
}

